<ion-view view-title>
    <ion-header-bar class="blue-grey darken-2 ">
        <h1 class="title white-text">Descripción</h1>
    </ion-header-bar>
    <ion-content>

        <ion-slide-box>
            <ion-slide>
                <div><img class="full-image" src="img/peruaca6.JPG"></div>
            </ion-slide>
            <ion-slide>
                <div><img class="full-image" src="img/peruaca7.JPG"></div>
            </ion-slide>

            <ion-slide>
                <div><img class="full-image" src="img/perrucaca12.JPG"></div>
            </ion-slide>
        </ion-slide-box>

        <div class="item grey lighten-4">
            <p>
                <!--<a href="#" class="subdued">1 *</a>
      <a href="#" class="subdued" >5 Comments</a>-->
            </p>
        </div>


        <div class="item item-body justifyText">
            <div>PERUACA COCINA INCA Ven y disfruta experiencias inolvidables. Ambiente para todos los gustos familiares. conoce la amplia exquisites gastronómica de Peru, nuestros variados platos y sus diferentes sabores son especialmente elaborados por nuestros Chefs traidos directamentes desde Perú. En nuestro restaurante esperamos que nuestros clientes vivan una experiencia placentera y única es por eso que tenemos una amplia gama de sabores para adultos y niños.</div>
        </div>
        <br>
        <div class="container">

            <a ng-click="centinealalogin();" class="waves-effect waves-light waves-block btn blue-grey darken-2">RESERVA</a>

        </div>

    </ion-content>



</ion-view>