<ion-view view-title>

    <ion-nav-bar class="blue-grey darken-2 white-text">
        <ion-nav-buttons side="left">
            <button menu-toggle="left" class=" button button-icon button-clear white-text ion-navicon">
            </button><img src="img/ciudad.png">
        </ion-nav-buttons>
    </ion-nav-bar>

    <div class="tabs-striped tabs tabs-top blue-grey darken-2">
        <div class="container ">
            <input placeholder="Buscar por tipo de comida, ambiente" id="nombres" type="text" class="lineapermanenete white-text">
        </div>
    </div>

    <ion-content>
        <br>
        <br>
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <a href="#/app/descrip_restaurante"><img src="img/Captura.JPG"></a>
                <a href="#/app/descrip_restaurante" class="card-title">PERUACA</a>
            </div>
            <div class="item  item-icon-left item-icon-right">

                <a href="#/app/menu" class="icon ion-ios-book-outline blue-grey-text text-darken-1"></a>
                <br>
                <span><a ng-click="centinealalogin();" class="icon ion-ios-time-outline blue-grey-text text-darken-1"></a></span>

            </div>
        </div>
    </ion-content>
</ion-view>